{% extends 'base.html.twig' %}

{% block title %}Vue du profil de {{ profile.username }}{% endblock %}

{% block body %}
<main class="profile">
    <section>
        {% if profile.filename %}
            <img src={{ vich_uploader_asset(profile, 'imageFile')}} alt="image de profil {{ profile.username }}" class="user__info__picture">
        {% else %}
            <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil vide" class="user__info__picture">
        {% endif %}
    </section>
</main>
{% endblock %}
