<nav class="message__nav">
    <i class="las la-window-close message__nav__close la-lg" id="message-close"></i>
    <a href="{{ path('message_list') }}" class="message__nav__link">Accueil</a>
    <a href="{{ path('message_received') }}" class="message__nav__link">Messages reçus</a>
    <a href="{{ path('message_sent') }}" class="message__nav__link">Messages Envoyés</a>
</nav>