{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}
{% block body %}
    <section class="update">
        <div class="update__form">
            <h1 class="update__form__title">Modifier mon mot de passe</h1>
            {{ form_start(form) }} 

            {{ form_widget(form) }}
            <input type="submit" value="Modifier" class="update__form__button">
            
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}