<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur notre site,veuillez cliquer sur le lien ci-dessous pour l'activer</p>

<a href="{{ url('confirm_account', {"token": token}) }}">
    Activer votre compte
</a>