{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="forgotten">   
        <section class="forgotten__form">
            <h2  class="forgotten__title">Mot de passe oublié</h2>
            {{ form_start(form) }} 

            {{ form_widget(form) }}

            <input type="submit" value="Valider" class="forgotten__form__button">
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}