<p>Bonjour</p>

<p>
    Une demande de rénitialisation de mot de passe a été effectué
    pour le site troc time.
    Veuillez cliquer sur le lien suivant :
</p>

<a href="{{ url('password_reset', {"token": token}) }}">Réinitialiser votre mot de passe</a>