<footer class="footer">
    <a href="#" class="footer__link">Mentions legales</a>
    <a href="#" class="footer__link">Politiques de confidentialités</a>
    <a href="#" class="footer__link">Mentions légales</a>
</footer>