<footer class="footer">
    <a href="{{ path('mention') }}" class="footer__link">Mentions legales</a>
    <a href="{{ path('confidentiality') }}" class="footer__link">Politiques de confidentialités</a>
</footer>