<header class="header">
    <nav class="header__nav">
        <a href="{{ path('homepage') }}" class="header__nav__link">Accueil</a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="header__nav__link">Se deconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="header__nav__link">Se connecter</a>
        {% endif %}
    </nav>
</header>