<header class="header">
    <nav class="header__nav">
        <a href="{{ path('homepage') }}" class="header__nav__link">Accueil</a>
        <a href="{{ path('app_login') }}" class="header__nav__link">Se connecter</a>
        <a href="#" class="header__nav__link">S'inscrire</a>
    </nav>
</header>