{% extends 'base.html.twig' %}

{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
<main class="admin">
    {% include "admin/partials/_nav.html.twig" %}
    <section class="admin__content">
        <h1 class="admin__content__title">Ajouter une région</h1>
        <section class="admin__content__form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Valider" class="admin__content__form__button">
            {{ form_end(form) }}
        </section>
    </section>
</main>
{% endblock %}
{% block javascripts %}
    <script>
        let collection;
        let buttonAdd;
        let span;

        window.onload = () => {
            collection = document.querySelector("#region_departments");

            buttonAdd = document.createElement("button");
            buttonAdd.className = "admin__content__form__button__new";
            buttonAdd.innerText = "Ajouter un département";

            let newButtonAdd = collection.append(buttonAdd);

            collection.dataset.index = collection.querySelectorAll("input").length;

            buttonAdd.addEventListener("click", function () {
                addButton(collection, newButtonAdd);
            })

            function addButton(collection, newButtonAdd) {
                let prototype = collection.dataset.prototype;
                let index = collection.dataset.index;

                prototype = prototype.replace(/__name__/g, index);

                let content = document.createElement("html");
                content.innerHTML = prototype;
                let newForm = content.querySelector("div");

                let buttonDelete = document.createElement("button");
                buttonDelete.type = "button";
                buttonDelete.id = "delete-department-" + index;
                buttonDelete.className = "admin__content__form__button__delete";
                buttonDelete.innerText = "Supprimer un département";

                newForm.append(buttonDelete);

                collection.dataset.index++;

                let buttonAdd = collection.querySelector(".admin__content__form__button__new");
                collection.insertBefore(newForm, buttonAdd);

                buttonDelete.addEventListener("click", function () {
                    this.previousElementSibling.parentElement.remove();
            })
            }

        }
        
    </script>
{% endblock %}