{% extends 'base.html.twig' %}

{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
<main class="announcement">
    <h1 class="announcement__title">Liste des catégories</h1>
</main>
{% endblock %}
