{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<main class="dashboard">
    <h1 class="dashboard__title">Tableau de bord</h1>
</main>
{% endblock %}
