{% extends 'base.html.twig' %}

{% block title %}Tableau de bord administration !{% endblock %}

{% block body %}
<main class="admin">
    {% include "admin/partials/_nav.html.twig" %}
    <section class="admin__content">
        <h1 class="admin__content__title">Tableau de bord</h1>
        <p class="admin__content__text">Il y a {{ app.user.profile|length }} d'utilisateurs inscrits.</p>
    </section>
</main>
{% endblock %}
