{% extends 'base.html.twig' %}

{% block title %}Annonce favorite de {{ app.user.profile.username }}!{% endblock %}

{% block body %}
<main class="favorite">
    <h1>Mes annonces favorites</h1>
    <button>retour</button>
    {% if app.user.profile.favorites %}
        <p>Vous avez {{ app.user.profile.favorites|length }} annonce{{ app.user.profile.favorites|length > 1 ? 's' }} en favoris</p>
        <section class="favorite__announces">
            {% set announces = app.user.profile.favorites %}
            {% include "partials/_card-announement.html.twig" %}
        </section>
    {% else %}
        <p>Vous n'avez pas d'annonce en favoris</p>
    {% endif %}
</main>
{% endblock %}