{% extends 'base.html.twig' %}

{% block title %}Annonces de {{ app.user.profile.username }}{% endblock %}

{% block body %}
<main class="profile">
    <h1>Liste de mes annonces</h1>
    <p>Vous avez {{ app.user.profile.announcements|length }} annonce{{ app.user.profile.announcements|length > 1  ? 's'}} en ligne{{ app.user.profile.announcements|length > 1  ? 's'}}. </p>
    {% set announces =  app.user.profile.announcements %}
    <section class="profile__announces">
        {% include "partials/_card-announement.html.twig" %}
    </section>
</main>
{% endblock %}
