{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité !{% endblock %}

{% block body %}
<main class="politique">
    <h1 class="politique__title">Politique de confidentialité</h1>
</main>
{% endblock %}
