{% extends 'base.html.twig' %}

{% block title %}Mentions Légales !{% endblock %}

{% block body %}
    <main class="mention">
        <h1 class="mention__title">Mentions Légales</h1>
    </main>
{% endblock %}
