/* $gutter: 1em;
$fft: 'Comfortaa', cursif;
$ff: 'Tinos', 'sans-serif';
$cd-txt: #6300a0;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-box: #fff;
$cd-btn: #011c37;
$cd-txt: #15DEA5;
$color1: rgb(47, 37, 75);
$color2: rgb(34, 36, 77); */
/* a:link { color: blue; }          Liens non visités
a:visited { color: rgb(197, 188, 197); }     Liens visités
a:hover { background: yellow; }  Liens survolés
a:active { color: red; }         Liens actifs */