/* ---- DASHBOARD ---- */
.admin {
    position: relative;
    top: 90px;
    min-height: 80vh;
    display: flex;
    &__nav {
        width: 250px;
        border: 2px solid rgb(184, 12, 104);
        border-top: none;
        &__link {
            display: block;
            text-decoration: none;
            padding: 20px;
            font-size: 1.2em;
            text-align: center;
            border-bottom: 3px solid rgb(184, 12, 104);
        }
    }
    &__content {
        width: calc(100% - 250px);
        padding: 20px;
        &__title {
            text-align: center;
            font-family: 'Parisienne', cursive;
            font-size: 2.5em;
            letter-spacing: 0.1em;
            // margin: 0;
            // border-bottom: 3px solid rgb(184, 12, 104);
        }
        &__form {
            max-width: 650px;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
            background-color: white;
            padding: 20px;
            &__input {
                width: 100%;
                font-size: 1.2em;
                margin: 10px;
                border-radius: 5px;
            }
            &__int {
                width: 50px;
                font-size: 1.2em;
                margin: 10px;
                border-radius: 5px;
            }
            &__label {
                width: 100%;
                font-size: 1.2em;
                margin: 0 12px;
            }
            &__button {
                display: block;
                margin: 0 auto;
                margin-top: 20px;
                font-size: 1.2em;
                border-radius: 5px;
                padding: 5px;
                cursor: pointer;
                &__new {
                    background-color: blue;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.2em;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                &__delete {
                    background-color: red;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.2em;
                    display: block;
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
fieldset {
    // border: none;
    border-radius: 10px;
}
legend {
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
}
input[type=file] {
}
