/* ---- DASHBOARD ---- */
.admin {
    display: flex;
    background-color: white;
}

.admin nav {
    position: fixed;
    left: 0;
    top: 100px;
    // margin-top: 10px;
    width: 250px;
    height: 800px;
    border: 1px solid lightgrey;
    // transform: translateX(-250px);
    box-shadow: 0 15px 50px #3232321a, 0 5px 15px #0000001a;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.admin nav a {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: all 1s ease-out;
    &:hover,:focus{
        background-color: rgb(255, 153, 0);
        color: whitesmoke;
    }
}

#admin-close {
    cursor: pointer;
    padding: .5em;
    text-align: end;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    &:hover {
        color: rgb(255, 153, 0);
    }
}
#admin-open {
    position: fixed;
    top: 100px;
    z-index: 5;
    opacity: 0;
    cursor: grab;
    &:hover {
        color: rgb(255, 153, 0);
        font-weight: bold;
    }
}

.admin__contents {
    position: relative;
    transform: translateX(250px);
    padding: 20px;
    // left: 250px;
    width: calc(100% - 250px);
    transition: all 1s ease-out;
}

.admin__contents table {
    border: 1px solid rgb(69, 45, 134);
    box-shadow: 0 15px 50px #3232321a, 0 5px 15px #0000001a;
    width: 100%;
}

.admin__contents th {
    box-shadow: 0 15px 50px #3232321a, 0 5px 15px #0000001a;
    border-collapse: collapse;
    border: 1px solid rgb(69, 45, 134);
    text-align: center;
    padding: .2em .5em;
}

.admin__contents td {
    border-bottom: 1px solid rgb(69, 45, 134);
    text-align: center;
}

.admin__description {
    max-width: 400px;
}

.admin__date {
    max-width: 155px;
}

.admin__online {
    max-width: 85px;
}

.admin__contents table img {
    max-width: 80px;
    padding: 0.2em;
}
.admin {
    &__contents {
        &__form {
            max-width: 650px;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
            background-color: white;
            padding: 20px;
            &__input {
                width: 100%;
                font-size: 1.2em;
                margin: 10px;
                border-radius: 5px;
            }
            &__int {
                width: 50px;
                font-size: 1.2em;
                margin: 10px;
                border-radius: 5px;
            }
            &__label {
                width: 100%;
                font-size: 1.2em;
                margin: 0 12px;
            }
            &__button {
                display: block;
                margin: 0 auto;
                margin-top: 20px;
                font-size: 1.2em;
                border-radius: 5px;
                padding: 5px;
                cursor: pointer;
                &__new {
                    background-color: blue;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.2em;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                &__delete {
                    background-color: red;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.2em;
                    display: block;
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

.width--is_open {
    width: 100%;
    // transform: translateX(250px);
    & .message {
        // width: 100%;
        background-color: red;
    }
    .admin__contents {
        width: 100%;
    }
}



