/* ---- VUE D'UNE ANNONCE ----*/
.announcement {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: white;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

.announcement__pictures {
    display: flex;
    justify-content: center;
}

.announcement__pictures img {
    // display: block;
    width: 100%;
    height: 350px;
    padding: 20px;
}

.announcement {
    &__pictures {
    }
    &__picture {
        
    }
    &__description {
        text-align: center;
        font-size: 1.2em;
    }
    &__place {
        display: flex;
        padding: 20px;
        &__contact {
            width: 50%;
            padding: 20px;
            &__username {
                font-size: 1.5em;
                text-align: center;
                padding: 20px;
            }
            &__propose {
                font-size: 1.2em;
                margin-left: 50px;
                &__list {
                    margin-left: 120px;
                    margin-bottom: 50px;
                    &__item {
                        font-size: 1.1em;
                    }
                }
            }
            &__button {
                display: block;
                margin: 0 auto;
                background-color: rgb(42, 42, 148);
                color: white;
                border-radius: 20px;
                padding: 5px 10px;
                transition: all .6s ease-out;
                font-size: 1.2em;
                &:hover {
                    background-color: rgb(255, 153, 0);
                    padding: 10px 20px;
                }
                &__link {
                    color: white; 
                    &:hover {
                        color: white;
                    } 
                }
            }
        }
        &__map {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__city {
                margin-top: 10px;
            }
        }
    }
}



