/* ---- INPUT ----*/

input[type="email"] {
    width: 100%;
    border-radius: 5px;
    padding: .5em 1em;
    // margin: 5px;
    // border: none;
}

input[type="password"] {
    width: 100%;
    border-radius: 5px;
    padding: .5em 1em;
    // margin: 5px;
    // border: none;
}

input[type="text"] {
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 2em;
    background-color: rgb(204, 12, 204);
    color: white;
    transition: all .6s ease-out;
    &:hover {
        animation: buttonAnimate .6s forwards;
    }
}

/* ---- FORMULAIRE DE CONTACT ---- */
.contact {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 140px;
}

.contact__name {
    display: flex;
    justify-content: space-between;
}

.contact__label__check {
    font-size: .9em;
}

.contact__agree {
    display: flex;
}

.contact p {
    margin: 0;
    margin-top: -1px;
    // padding: 0 0.3em;
    // font-size: .9em;
    // text-align: center;
}

.contact a {
    color: blue;
    text-decoration: underline;
}

/* ---- FORMULAIRE DE PROFIL ---- */
.usersForm {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 140px;
}

.usersForm h1 {
    font-size: 2em;
    letter-spacing: .1em;
    color: rgb(66, 0, 128);
}


.profile {
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 20px;
        border: 2px solid rgb(66, 0, 128);
        &__required {
            text-align: end;
            padding: 10px 20px;
            font-size: 1.2em;
            & span {
                color: red;
                font-size: 1.5em;
            }
        }
        &__label {
            margin-right: 20px;
            text-align: left;
            border: none;
            border-radius: 10px;
        }
        &__input {
            &:focus {
                border-bottom: 2px solid rgb(42, 42, 148);
            }
        }
        &__choice {
        }
        &__file {
        }
        &__number {
        }
        &__date {
        }
        &__button {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: rgb(66, 0, 128);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            transition: all .5s ease-out;
            font-size: 1.3em;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 10px 20px;
                // color: rgb(204, 12, 204);
            }
            &__link {
                transition: all .5s ease-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}
.help-text {
    // color: whitesmoke;
}


/* ---- PAGE LOGIN ET INSCRIPTION---- */
.login form, .register__form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 1em;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border-radius: 10px;
    border: 2px solid rgb(42, 42, 148);
    background-color: white;
    // background-color: rgba(45,139,222, .6);
}

.login form h1, .register__form h1 {
    font-family: "parisienne";
    text-align: center;
    font-size: 3em;
    padding: .2em;
    letter-spacing: .1em;
    // color: white;
    text-shadow: 1px 0px 0px;
}

.login form p, .register__form p {
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1em;
    // color: white;
}

.login input {
    margin-bottom: 1em;
}

.login a, .register__form a {
    width: 100%;
    display: block;
    color: blue;
    text-decoration: underline;
}

.register__form ul {
    list-style-type: none;
}

/* ---- ENVOYÉ UN MESSAGE ---- */
.contactUser {
    background-color: white;
    padding: 50px;
}

.contactUser__form {
    max-width: 600px;
    margin: 0 auto;
    // margin-top: 80px;
    padding: 1em;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border-radius: 20px;
    border: 2px solid rgb(42, 42, 148);
}


.contactUser h1 {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    letter-spacing: .1em;
    color: rgb(42, 42, 148);
    // text-shadow: 1px 1px 1px;
    margin-bottom: 20px;
}

/* ---- PAGE FORGOTTEN PASSWORD ---- */
.forgotten, .reset, .update, .announcement {
    position: relative;
    top: 90px;
    padding: 20px;
    margin-bottom: 200px;
    min-height: 70vh;
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 20px;
        border: 2px solid rgb(42, 42, 148);
        &__title {
            font-family: "parisienne";
            text-align: center;
            font-size: 3em;
            padding: 10px;
            letter-spacing: .1em;
            color: rgb(42, 42, 148);
            text-shadow: 1px 1px 1px;
            margin-bottom: 20px;
        }
        &__info {
            padding: 10px;
            text-align: center;
            margin-bottom: 25px;
            font-size: 1.2em;
        }
        &__button {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: rgb(66, 0, 128);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            transition: all .5s ease-out;
            font-size: 1.3em;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 10px 20px;
                // color: rgb(204, 12, 204);
            }
            &__link {
                transition: all .5s ease-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

/* ---- PAGE COMMUNITY ---- */
.search {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px 20px;
    margin-bottom: 150px;
}

.search__form {
    max-width: 1000px;
    margin: 0 auto;
    // box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    background-color: rgb(255, 153, 0);
    padding: .2em;
}

.search h2 {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    margin: .5em;
    // font-family: 'parisienne';
}

.search__form ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search__form li {
    margin: 0 .2em;
    padding: .8em;
    border-radius: 5px;
    & input {
        background-color: white;
        // box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    }
}

.search__form svg {
    top: 75%;
    left: 15px;
}

.search__form button {
    padding: .5em;
    border-radius: 5px;
    margin: 0 10px 15px;
}

.search__links {
    max-width: 1000px;
    margin: 0 auto;
    padding: .2em 1em;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid rgb(255, 153, 0);
    border-right: 1px solid rgb(255, 153, 0);
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

.search__links a[aria-selected="true"] {
    color:  rgba(45,139,222, .6);
}

.search__links a {
    // color: rgba(45,139,222, .6);
    margin: 0 .5em;
}
.search__buttons button {
    margin: 0 1em .5em;
    padding: .2em 1em;
}

.search__links p { 
    font-size: .8em;
    margin: 0 20px;
}

.search__content {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid rgb(255, 153, 0);
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

.search__categories {
    width: 250px;
    margin-right: 20px;
    // border: 1px solid rgb(255, 153, 0);
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

.search__categories h3 {
    text-align: center;
    padding: 10px;
}

.search__categories p {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    background-color: lighten($color: rgb(255, 153, 0), $amount: 5);
}

.search__categories ul {
    list-style: none;
    padding: 0;
}

.search__categories li {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px;
    transition: all 1s;
    &:hover {
        background-color: rgb(255, 153, 0);
        color: white;
    }
}

.search__users {
    width: calc(95% - 250px);
}

.search__announces {
    width: calc(100% - 250px);
}

/* ---- CARD ANNONCES POUR LA PAGE SEARCH ---- */
.announceSearch {
    border: 1px solid rgb(66, 0, 128);
    // padding: 1em;
    margin: .5em 1em;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border-radius: 5px;
    display: flex;
}

.announceSearch__picture {
    // width: 200px;
    display: flex;
    align-items: center;
}

.announceceSearch__content {
    width: 100%;
    // padding: 0.2em;
}

.announceceSearch__content h3 {
    font-size: 1.3em;
    margin: 0;
    padding: .5em 0 0;
    // text-align: center;
    color: rgb(66, 0, 128);
}

.announceSearch__description {
    margin: -5px 0 0;
    font-size: .9em;
    padding: 0;
}

.announceSearch__img {
    width: 220px;
    padding: 1em;
}

.announceSearch aside {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid rgb(66, 0, 128);
    // background-color: rgb(66, 0, 128);
    // background-color: rgba(45,139,222, .6);
    // background-color: rgb(255, 153, 0);
    // color: white;
    max-height: 50px;
    padding: 0.4em 1em;
}

.announceSearch aside p {
    font-size: .9em;
}

.announceSearch aside img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.announceSearch__propose {
    font-size: .9em;
    margin: 0;
    padding: 0;
    & strong {
        color: rgb(66, 0, 128);
    }
}

.announceSearch__category {
    margin: -7px 0 0;
    font-size: 0.8em;
    padding: 0;
}

.announceSearch__city {
    margin: -7px 0 10px;
    font-size: 0.8em;
    padding: 0;
}

.announceSearch button {
    display: block;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    // background-color: rgb(66, 0, 128);
    transition: all .6s ease-out;
    &:hover {
        animation: buttonAnimate .6s forwards;
    }
}
.announceSearch button a:hover {
    color: white;
}