.test {
    &__float {
        &__img {
            width: 50px;
            float: left;
        }
    }
    padding: 50px;
    &__title {
        text-align: center;
        padding: 10px;
    }
    &__subtitle {
        font-size: 1.5em;
        color: red;
    }
}
.la-exchange-alt {
    position: relative;
    top: 3px;
}
.la-tag {
    position: relative;
    top: 1px;
}
.la-map-marker-alt {
    position: relative;
    top: 0px;
}
.la-heart {
    margin-left: 10px;
}

.annonces {
    display: flex;
    flex-wrap: w;
}
.announces {
    // width: 500px;
    border: 1px solid lightblue;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    &__profile {
        width: 100%;
        margin: 0;
        padding: 10px 20px;
        // background-color: lightgreen;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid lightcoral;
        &__picture {
            width: 50px;
            border-radius: 50%;
        }
        &__username {
            margin: 0;
            // margin: 8px;
        }
        &__date {
            margin: 0;
            // margin: 5px;
        }
    }
    &__title {
        width: 100%;
        padding: 20px 0 10px;
        font-size: 1.2em;
        font-weight: normal;
        color: blue;
        text-align: center;
    }
    &__picture {
        width: 200px;
        height: 120px;
        margin: 5px 10px 10px 15px;
    }
    &__description {
        font-size: 1em;
        // float: left;
        padding: 0 10px;
    }
    &__categories {
        list-style-type: none;
        padding: 0 15px;
        width: 100%;
    }
    &__propose {
        margin: 0;
        font-size: .9em;
    }
    &__category {
        margin: 0;
        font-size: .9em;
    }
    &__city {
        margin: 0;
        font-size: .9em;
    }
    &__button {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        margin-bottom: 20px;
        &__link {
            text-decoration: none;
        }
    }
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.user {
    // width: 610px;
    border: 1px solid lightblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
        &:hover {
            transform: translate3d(0, -10px, 0);
            color: initial;
        }
    &__infos {
        display: flex;
        align-items: center;
    }
    &__info {
        list-style-type: none;
        padding: 0 10px;
        &__picture {
            width: 80px;
            border-radius: 50%;
        }
        &__city {
            margin: 0;
            font-size: .9em;
        }
        &__username {
            margin: 0;
            font-size: .9em;
        }
    }
    
    &__propose {
        width: 100%;
        margin: 0;
    }
    &__research {
        width: 100%;
        margin: 0;
    }
}

/* ---- VUE D'UNE ANNONCE ----*/
.announce {
    position: relative;
    top: 90px;
    &__title {
        text-align: center;
        padding: 20px;
    }
    &__pictures {
        display: flex;
        justify-content: center;
    }
    &__picture {
        // display: block;
        width: 100%;
        height: 350px;
        padding: 20px;
    }
}

/* ---- PAGE LOGIN ---- */
.login {
    min-height: 80vh;
    &__form {
        max-width: 600px;
        // border: 2px solid aqua;
        margin: 0 auto;
        margin-top: 150px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 10px;
        background: linear-gradient(145deg, #f37646, #f3e946) center center no-repeat;
        &__top {
            text-align: center;
            width: 100%;
            &__title {
                // font-family: "parisienne";
                letter-spacing: .1em;
                font-family: "Quicksand";
                // color: green;
                text-shadow: 1px 1px 1px;
            }
            &__text {
                padding: 10px;
                letter-spacing: .1em;
            }
        }
        &__bottom {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
        &__forgotten {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__link {
            width: 100%;
            text-shadow: 1px 0px 0px;
        }
        &__label {
            width: 100%;
            margin: 0 10px;
        }
        &__input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin: 10px;
        }
        &__checkbox {
            width: 100%;
        }
        &__button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
            letter-spacing: .1em;
            transition: all 1s ease-out;
            &:hover {
                animation: buttonAnimate 1s forwards;
            }
        }
    }
}

/* ---- PAGE FORGOTTEN PASSWORD ---- */
.forgotten, .reset {
    min-height: 68vh;
    &__title {
        text-align: center;
        padding: 10px;
        text-shadow: 1px 1px 1px;
        letter-spacing: .1em;
        font-family: "Satisfy";
        color: green;
    }
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 150px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 5px;
        background: linear-gradient(145deg, #f37646, #f3e946) center center no-repeat;
        &__label {
            width: 100%;
            margin: 0 10px;
        }
        &__input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin: 10px;
            &:focus {
                border: 5px solid red;
            }
            &:focus-within {
                border: 5px solid lightblue;
            }
        }
        &__button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
            transition: all 1s ease-out;
            &:hover {
                animation: buttonAnimate 1s forwards;
            }
        }
    }
}

/* ---- PAGE CREATE-ACCOUNT ---- */
.register {
    &__form {
        max-width: 600px;
        // border: 2px solid aqua;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 5px;
        &__header {
            text-align: center;
            width: 100%;
        }
        &__footer {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
        &__input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin: 10px;
        }
        &__label {
            width: 100%;
            margin: 0 10px;
        }
        &__button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
}


