.div {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // &-1 {
    //     margin: 10px;
    //     position: absolute;
    //     width: 500px;
    //     height: 300px;
    //     background-color: rgb(42, 42, 148);
    //     clip-path: polygon(0.3% 100%, 0% 0%, 100% 0%);
    // }
    // &-2 {
    //     margin: 10px;
    //     position: relative;
    //     width: 500px;
    //     height: 300px;
    //     clip-path: polygon(0.3% 100%, 100% 100%, 100% 0%);
    //     background-color: rgb(255, 153, 0);
    // }
}s
/* ---- INPUT ----*/
.form__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    &:focus {
        border-bottom: 2px solid rgb(42, 42, 148);
    }
}

.form-check {
    margin-top: 20px;
}

.form__username {
    display: inline;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 0;
    margin-bottom: 10px;
    &:focus {
        border-bottom: 2px solid rgb(66, 0, 128);
    }
}

/* ---- FORMULAIRE DE PROFIL ---- */
.profile {
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 20px;
        border: 2px solid rgb(66, 0, 128);
        &__title {
            font-family: "Quicksand";
            color: rgb(66, 0, 128);
            text-align: center;
            font-size: 3em;
            padding: 10px;
            letter-spacing: .1em;
            text-shadow: 1px 1px 1px;
            margin-bottom: 20px;
        }
        &__required {
            text-align: end;
            padding: 10px 20px;
            font-size: 1.2em;
            & span {
                color: red;
                font-size: 1.5em;
            }
        }
        &__label {
            margin-right: 20px;
            text-align: left;
            border: none;
            border-radius: 10px;
        }
        &__input {
            &:focus {
                border-bottom: 2px solid rgb(42, 42, 148);
            }
        }
        &__choice {
        }
        &__file {
        }
        &__number {
        }
        &__date {
        }
        &__button {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: rgb(66, 0, 128);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            transition: all .5s ease-out;
            font-size: 1.3em;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 10px 20px;
                // color: rgb(204, 12, 204);
            }
            &__link {
                transition: all .5s ease-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}
.help-text {
    // color: whitesmoke;
}

/* ---- PAGE CREATE-ACCOUNT ---- */
.register {
    position: relative;
    top: 90px;
    padding: 20px;
    margin-bottom: 200px;
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 20px;
        border: 2px solid rgb(42, 42, 148);
        &__title {
            font-family: "parisienne";
            text-align: center;
            font-size: 3em;
            padding: 10px;
            letter-spacing: .1em;
            color: rgb(42, 42, 148);
            text-shadow: 1px 1px 1px;
        }
        &__info {
            padding: 10px;
            text-align: center;
            margin-bottom: 25px;
            font-size: 1.2em;
        }
        &__help {
            color: rgb(108, 117, 125);
            margin: 0 30px 0;
            &__list {
                list-style-type: none;
                margin-left: 30px;
                &__item{
                    color: rgb(108, 117, 125);
                }
            }
        }
        &__agree {
            margin: 0;
            padding: 0;
        }
        &__text {
            // margin: 0;
            // padding: 0;
            text-align: center;
        }
        &__link {
            color: blue;
            text-decoration: underline;
        }
        &__button {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: rgb(66, 0, 128);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            transition: all .5s ease-out;
            font-size: 1.3em;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 10px 20px;
                // color: rgb(204, 12, 204);
            }
            &__link {
                transition: all .5s ease-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

/* ---- PAGE LOGIN ---- */
.login {
    position: relative;
    top: 90px;
    padding: 20px;
    margin-bottom: 200px;
    min-height: 70vh;
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 10px;
        border: 2px solid rgb(42, 42, 148);
        &__title {
            font-family: "parisienne";
            text-align: center;
            font-size: 3em;
            padding: 10px;
            letter-spacing: .1em;
            color: rgb(42, 42, 148);
            text-shadow: 1px 1px 1px;
        }
        &__info {
            padding: 10px;
            text-align: center;
            margin-bottom: 25px;
            font-size: 1.2em;
        }
        &__checkbox {
            font-size: 1.2em;
        }
        &__text {
            // margin: 0;
            // padding: 0;
            text-align: center;
            font-size: 1.2em;
        }
        &__forgotten {
            display: block;
            margin: 10px 0;
            color: blue;
            font-size: 1.2em;
            text-decoration: underline;
        }
        &__link {
            color: blue;
            font-size: 1em;
            text-decoration: underline;
            margin: 10px;
        }
        &__button {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: rgb(66, 0, 128);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            transition: all .5s ease-out;
            font-size: 1.3em;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 10px 20px;
                // color: rgb(204, 12, 204);
            }
            &__link {
                transition: all .5s ease-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

/* ---- PAGE FORGOTTEN PASSWORD ---- */
.forgotten, .reset, .update, .announcement, .message {
    position: relative;
    top: 90px;
    padding: 20px;
    margin-bottom: 200px;
    min-height: 70vh;
    &__form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 80px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 20px;
        border: 2px solid rgb(42, 42, 148);
        &__title {
            font-family: "parisienne";
            text-align: center;
            font-size: 3em;
            padding: 10px;
            letter-spacing: .1em;
            color: rgb(42, 42, 148);
            text-shadow: 1px 1px 1px;
            margin-bottom: 20px;
        }
        &__info {
            padding: 10px;
            text-align: center;
            margin-bottom: 25px;
            font-size: 1.2em;
        }
        &__button {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: rgb(66, 0, 128);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            transition: all .5s ease-out;
            font-size: 1.3em;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 10px 20px;
                // color: rgb(204, 12, 204);
            }
            &__link {
                transition: all .5s ease-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.test {
    position: relative;
    top: 90px;
    min-height: 90vh;
    width: 100%;
    margin-bottom: 200px;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 0 0;
        font-size: 2.5em;
        // padding: 10px;
        letter-spacing: .1em;
        font-family: 'Satisfy';
    }
    &__text {
        padding: 0 20px;
        text-align: center;
    }
    &__logo {
        width: 280px;
    }
    &__accueil {
        width: 100%;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        // background-image: url('/public/images/th6.jpeg');.
        // background-repeat: no-repeat;
        // background-size: cover;
        padding: 20px;
    }
    &__categories {
        display: flex;
        flex-wrap: wrap;
    }
    &__category {
        // border: 1px solid #f37646;
        width: 300px;
        margin: 5px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 10px;
        &__title {
            color: #f37646;
            font-size: 1.5em;
            font-weight: normal;
            text-align: center;
            letter-spacing: .02em;
        }
        &__list {
            list-style-type: none;
            &__name {
                text-align: end;
                padding: 0 10px;
                cursor: pointer;
                &:hover {
                    background-color: #f37646;
                    color: whitesmoke;
                }
            }
        }
    }
    &__float {
        &__img {
            width: 50px;
            float: left;
        }
    }
}


/* ---- PAGE MESSAGE LIST ---- */
.search , .community {
    position: relative;
    top: 90px;
    margin-bottom: 200px;
    min-height: 80vh;
    padding: 10px 20px 20px;
    &__title {
        text-align: center;
        padding: 20px;
    }
    &__form {
        max-width: 1300px;
        margin: 0 auto;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        &__list {
            list-style-type: none;
            // border: 1px solid #f37646;
            background-color: rgb(255, 153, 0);
            display: flex;
            align-items: center;
            padding: 25px 10px 10px;
            justify-content: center;
            &__item {
                margin: 0 5px;
                padding: 8px;
                border-radius: 5px;
                & input {
                    background-color: white;
                    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
                    &::placeholder {
                        // color: lightgrey;
                    }
                }
            }
        }
        &__button {
            // background-color: #f37646;
            padding: 6px;
            border-radius: 5px;
            margin: 0 10px 15px;
        }
    }
    &__content {
        max-width: 1300px;
        margin: 0 auto;
        margin-top: -18px;
        display: flex;
        border: 3px solid rgb(255, 153, 0);
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        &__announces {
            // width: calc(100% - 270px);
            width: 950px;
            margin: 0;
            padding: 0;
        }
        &__announce {
            width: 100%;
            border: 1px solid rgb(66, 0, 128);
            box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
            border-radius: 5px;
            margin: 10px;
            background-color: white;
        }
    }
    &__categories {
        width: 300px;
        margin-right: 20px;
        border: 1px solid rgb(255, 153, 0);
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        &__title {
            text-align: center;
            padding: 10px;
        }
        &__name {
            text-align: center;
            font-size: 1.2em;
            padding: 10px;
            background-color: lighten($color: rgb(255, 153, 0), $amount: 5);
        }
        &__list {
            list-style: none;
            padding: 0;
            &__item {
                font-size: 1.2em;
                margin: 0;
                text-align: center;
                padding: 10px;
                transition: all 1s;
                &:hover {
                    background-color: rgb(255, 153, 0);
                    color: white;
                }
            }
        }
    }
}


