/* ---- PAGE VUE DU PROFILE ME ---- */
.me {
    min-height: 80vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    &__title {
        text-align: center;
        padding: 20px;
        font-family: "Satisfy", "sans-serif";
    }
    &__user {
        &__info {
            border: 1px solid orangered;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
            &__title {
                width: 100%;
                color: orangered;
                padding: 10px 10px 0 10px;
                margin: 0;
                letter-spacing: .1em;
                font-family: 'parisienne', Courier, monospace;
                font-weight: bold;
                font-size: 1.5em;
            }
            &__picture {
                width: 150px;
                border-radius: 50%;
            }
            &__list {
                margin-top: 8px;
                list-style: none;
            }
            &__text {
                width: 100%;
            }
        }
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
    }
    &__link {
        width: 48%;
        border: 1px solid orangered;
        border-radius: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        color: black;
        transition: all .3s ease-out;
        cursor: pointer;
        &:hover {
            transform: translate3d(0, -10px, 0);
            color: initial;
        }
        &__name {
            color: orangered;
            font-weight: 500;
            font-family: "parisienne";
            font-size: 2em;
            padding: 10px 0 0 0;
            text-align: center;
        }
        &__text {
            margin: 0;
            padding: 10px;
            font-family: 'Satisfy';
            font-size: 1.2em;
            font-weight: normal;
        }
    }
}

/* ---- PAGE FORMULAIRE PROFILE LIST (COMMUNAUTÉ) ---- */
.community {
    position: relative;
    top: 90px;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 80vh;
    &__title {
        text-align: center;
        padding: 20px;
    }
    &__form {
        width: 100%;
        margin: 0 auto;
        &__input {
            margin: 0 20px;
        }
        &__button {
            margin-bottom: 15px;
            padding: 4px;
            border-radius: 5px;
            margin-left: 30px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        &__card {
            width: 48%;
            border: 1px solid lightblue;
            border-radius: 10px;
            margin: 10px;
            // display: flex;
            &__top {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                border-bottom: 1px solid lightblue;
                padding: 10px;
                &__username {
                    margin: 0;
                    margin-left: 10px;
                }
                &__city {
                    margin: 0;
                    margin-left: 10px;
                }
                &__img {
                    width: 100px;
                    border-radius: 50%;
                }
            }
            &__bottom {
                padding: 10px;
                &__propose {
                    margin: 0;
                    margin-left: 10px;
                }
                &__research {
                    margin: 0;
                    margin-left: 10px;
                }
                &__btn {
                    display: block;
                    margin: 0 auto;
                    border-radius: 20px;
                    padding: 0 10px;
                    margin-top: 25px;
                    background-color: lightblue;
                } 
            }
        }
    }
}


/* ---- PAGE FORMULAIRE PROFILE ---- */
.profileAdd {
    position: relative;
    top: 90px;
    margin-bottom: 150px;
    &__title {
        text-align: center;
    }
    &__form {
        max-width: 600px;
        // border: 2px solid aqua;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 5px;
        margin-bottom: 50px;
        &__header {
            text-align: center;
            width: 100%;
        }
        &__footer {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
        &__input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin: 10px;
        }
        &__label {
            width: 100%;
            margin: 0 10px;
        }
        &__button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
}