@use './vars';


*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F2EF;
    background-color: rgb(69, 45, 134);
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: "Quicksand", "sans-serif";
}

/* ---- BOUTON RETOUR PAGE PRÉCÉDENTE ---- */
.button__return {
    position: absolute;
    top: 20px;
    border-radius: 3px;
}

/* ---- HEADER NAVIGATION ---- */
header {
    // padding: 20px 30px;
    height: 100px;
    background-color: white;
    border-bottom: 3px solid rgb(255, 153, 0);
    box-shadow: 
            0 0.3px 0.6px rgba(0, 0, 0, 0.028),
            0 0.8px 1.8px rgba(0, 0, 0, 0.04),
            0 1.8px 4.2px rgba(0, 0, 0, 0.052),
            0 6px 14px rgba(0, 0, 0, 0.08)
        ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu a {
    position: relative;
    padding: .5em 1em;
    // margin: 0 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    transition: all .6s ease-out;
    border-radius: 10px;
    &:hover {
        background-color: rgb(69, 45, 134);
        color: white;
    }
}

.menu a[aria-selected="true"] {
    color: rgb(69, 45, 134);
    &:hover {
        background-color: rgb(69, 45, 134);
        color: white;
    }
}

.indicator {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-top: 1em;
    height: 4px;
    background-color: rgb(69, 45, 134);
    border-radius: 4px;
    transform-origin: 0 0;
    opacity: 0;
}
[aria-selected="true"] .indicator {
    opacity: 1;
}

#logo {
    width: 200px;
    padding: 1em;
}

/* ---- MAIN ---- */
main {
    position: relative;
    top: 100px;
    min-height: 70vh;
    margin-bottom: 200px;
}

/* ---- CARD UTILISATEUR ---- */
.user {
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    background-color: white;
    border: 1px solid black;
    margin: 20px 10px;
    // background-image: url('/public/images/bacground_nav.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 1em;
    font-size: .9em;
    cursor: pointer;
    transition: all .5s ease-out;
    &:hover {
        transform: translate3d(0, -10px, 0);
        color: white;
        background-color: rgb(42, 42, 148);
    }
}

.user a:hover {
    color: white;
}
.user aside {
    display: flex;
    align-items: center;
}

.user img {
    // float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    // border: 1px solid rgb(255, 153, 0);
}

.user ul {
    width: 100%;
    list-style-type: none;
    padding: 0 1em .5em;
    border-bottom: 1px solid rgb(255, 153, 0);
}
.user ul li {
    margin: 0;
    font-size: 1em;
    margin: 0;
    font-size: 1em;
}

.user p {
    width: 100%;
    margin: 0;
    padding-left: 1em;
}

// .user span {
//     color: rgb(66, 0, 128);
// }

.user__propose {
    
}
/* ---- CARD ANNONCES ---- */
.announce {
    width: 320px;
    border: 1px solid rgb(66, 0, 128);
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border-radius: 5px;
    margin: .5em;
    background-color: white;
    font-size: .9em;
}

.announce aside {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 2px solid rgb(66, 0, 128);
    // background-color: rgb(66, 0, 128);
    background-color: rgba(45,139,222, .6);
    // background-color: rgb(255, 153, 0);
    color: white;
    max-height: 60px;
    padding: 0.3em;
}

.announce aside img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.announce h3 {
    text-align: center;
    font-size: 1.5em;
    color: rgb(66, 0, 128);
}

.announce__picture {
    display: block;
    margin: 0 auto;
    // width: 100%;
    max-height: 150px;
    // margin: 10px;
}

.announce p {
    padding: 0 .8em ;
    & strong {
        color: rgb(66, 0, 128);
    }
}
.announce button {
    display: block;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    // background-color: rgb(66, 0, 128);
    transition: all .6s ease-out;
    &:hover {
        animation: buttonAnimate .6s forwards;
    }
}
.announce button a:hover {
    color: white;
}

.announce__category {
    // border-top: 1px solid rgb(66, 0, 128);
    margin: 0;
    padding: 15px 10px 0;
}
.announce__city {
    margin: 0;
    padding: 0 10px 20px;
}

.announce__icone {
    margin-top: 1em;
    padding-bottom: .5em;
    display: flex;
    justify-content: center;
}

.announce__icone a {
    margin: 0 1em;
}
/* ---- PAGE D'ACCUEIL ---- */
.homepage {    
    margin: 0 auto;
    margin-bottom: 200px;
    padding: .5em;
    max-width: 1200px;
    background-color: white;
    // background-color: rgb(255, 153, 0);
    border: 3px solid rgb(69, 45, 134);
    border-radius: 5px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b9;
}
.homepage__img {
    max-width: 500px;
    animation: visible 3s forwards;
}
.presentation p {
    text-align: center;
    letter-spacing: .1em;
}

.presentation p a {
    color: blue;
    text-decoration: underline;
}

.presentation button {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: .3em 1em;
    transition: all .6s ease-out;
    &:hover {
        animation: buttonAnimate  1s forwards;
        background-color: rgb(69, 45, 134);
        color: white;
    }
    & a:hover {
        color: white;
    }
}

.homepage h2 {
    font-family: 'parisienne';
    font-size: 2.5em;
    text-shadow: 1px 0px 0px;
    margin: 0;
    // font-weight: bold;
    color: rgb(69, 45, 134);
}

.users {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.homepage__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: .2em 1em;
    border-radius: 20px;
    background-color: rgb(204, 12, 204);
    &:hover {
        animation: buttonAnimate 1s forwards;
    }
}

.homepage__button a:hover {
    color: white;
}

.number {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.number div {
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(69, 45, 134);
    border-radius: 10px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b6;
    background-color: white;
}

.number div p {
    margin: 0;
    font-size: 1.3em;
}

.number__announcements {
    background-image: url('/public/images/annonce.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.number__members {
    background-image: url('/public/images/annonce2.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.number__quantity {
    font-size: 3em;
    padding: 20px;
    font-weight: bold;
    color: rgb(69, 45, 134);
}

.announcements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.announcements h2 {
    padding: 0 1em .3em;
    width: 100%;
}

.categories {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}
.categories article {
    width: 290px;
    min-height: 300px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    background-color: white;
    margin: 0 3px;
}

.categories article a {
    display: block;
    text-align: center;
    padding: 10px;
    letter-spacing: 0;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(255, 153, 0);
}

.categories article ul {
    list-style-type: none;
    padding: 0;
}

.categories article ul li {
    display: block;
    text-align: center;
    padding: 5px;
    transition: all .5s ease-out;
}

.categories article ul li a {
    border: none;
}

.info {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.info article {
    background-color: white;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b6;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(69, 45, 134);
    border-radius: 5px;
    font-size: 1em;
}

.info article h3 {
    font-size: 1.6em;
}

.info article p {
    padding: 10px 15px;
}

.info article a {
    color: blue;
    text-decoration: underline;
}
// &__info {
//     background-color: white;
//     box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b6;
//     max-width: 300px;
//     padding: 20px;
//     margin: 20px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border: 3px solid rgb(69, 45, 134);
//     border-radius: 5px;
//     font-size: 1em;
//     &__title {
//         font-size: 1.6em;
//     }
//     &__content {
//         padding: 10px 15px;
//     }
// }
/* ---- FOOTER ---- */
.footer {
    position: relative;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    justify-content: center;
    // background-color: lighten($color: rgb(255, 153, 0), $amount: 5);
    background-color: rgb(255, 153, 0);
    color: white;
    // border-left: 1px solid #f37646;
    // border-right: 1px solid #f37646;
    // border-top-right-radius: 20px;
    // border-top-left-radius: 20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    margin-top: 20px;
    &__link {
        display: block;
        font-size: 1.2em;
        text-decoration: none;
        // color: white;
        color: black;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 5px;
        transition: all 1s ease-out;
        color: white;
        &:hover,:focus {
            color: #333;
            background-color: #f37646;
        }
        &:hover {
            color: rgb(69, 45, 134);
        }
    }
    &__text {
        width: 100%;
        text-align: center;
    }
}

/* ---- PAGE MES ANNONCES ---- */
.myAnnouncement {
    display: flex;
    flex-wrap: wrap;
    &__title {
        text-align: center;
        width: 100%;
    }
    &__article {
        width: 250px;
        padding: 10px;
        // border: 1px solid salmon;
        background-color: white;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 5px;
        margin: 10px;
        &__category {
            display: inline-block;
            background-color: rgb(184, 12, 104);
            color: white;
            padding: 4px;
            border-radius: 10px;
        }
    }
}


/* ---- MESSAGES FLASH ---- */
.alert-error, .alert-success, .alert-message, .alert-warning {
    position: relative;
    top: 100px;
    background-color: red;
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    // z-index: 100;
}

.alert-error {
    background-color: red;
}

.alert-success {
    background-color: green;
}

.alert-message {
    background-color: grey;
}

.alert-warning {
    background-color: orange;
}

.svg1 {
    // background-color: rgb(255, 153, 0);
    // color: rgb(255, 153, 0);
    fill: red;
    // border: 1px solid blue;
}

.svg {
    margin-top: 100px;
    width: 300px;
    height: 300px;
}