@use './vars';

/* ---- TOUT CE QUI EST EN COMMUN PLUS HEADER ET FOOTER*/

*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F2EF;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: "Quicksand", "sans-serif";
}

.homepage, .profile, .announcement {
    position: relative;
    top: 90px;
    min-height: 70vh;
    margin-bottom: 200px;
}

/* ---- HEADER ---- */
.header {
    padding: 20px 30px;
    height: 90px;
    // padding: 5px 20px;
    // background: linear-gradient(90deg, rgb(230, 25, 25), purple, blue )  center center no-repeat;
    // background: linear-gradient(90deg, rgb(230, 25, 25), orange)  center center no-repeat;
    background-color: white;
    // background-image: url('/public/images/th.jpeg');
    // background-repeat: no-repeat;
    // background-size: 100%;
    border-bottom: 5px solid rgb(255, 153, 0);
    // border-left: 1px solid #f37646;
    // border-right: 1px solid #f37646;
    // border-bottom-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    &__logo {
        width: 240px;
        float: left;
    }
    &__nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        &__button {
            border-radius: 20px;
            padding: 5px 10px;
            background-color: rgb(69, 45, 134);
            box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
            margin: 0 10px;
            transition: all .6s ease-out;
            &:hover {
                background-color: rgb(255, 153, 0);
                padding: 8px 15px;
            }
            &__link {
                text-decoration: none;
                color: white;
                &:hover {
                    color: white;
                }
            }
        }
        &__link {
            padding: 5px 10px;
            margin: 0 5px;
            text-decoration: none;
            font-size: 1.2em;
            color: black;
            transition: all .6s ease-out;
            border-radius: 10px;
            &:hover {
                background-color: rgb(255, 153, 0);
                font-size: 1.3em;
                color: white;
            }
        }
    }
}

/* ---- FOOTER ---- */
.footer {
    position: relative;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    justify-content: center;
    // background-color: lighten($color: rgb(255, 153, 0), $amount: 5);
    background-color: rgb(255, 153, 0);
    color: white;
    // border-left: 1px solid #f37646;
    // border-right: 1px solid #f37646;
    // border-top-right-radius: 20px;
    // border-top-left-radius: 20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    margin-top: 20px;
    &__link {
        display: block;
        font-size: 1.2em;
        text-decoration: none;
        // color: white;
        color: black;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 5px;
        transition: all 1s ease-out;
        color: white;
        &:hover,:focus {
            color: #333;
            background-color: #f37646;
        }
        &:hover {
            color: rgb(69, 45, 134);
        }
    }
    &__text {
        width: 100%;
        text-align: center;
    }
}

/* ---- PAGE D'ACCUEIL ---- */
.homepage {    
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 20px;    
    padding: 20px;
    max-width: 1300px;
    // background-color: white;
    background-color: #F3F2EF;
    background-color: rgb(255, 153, 0);
    // border: 3px solid rgb(69, 45, 134);
    border-radius: 5px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b9;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 0 0;
        font-size: 2.5em;
        letter-spacing: .1em;
        font-family: 'Satisfy';
    }
    &__logo {
        width: 280px;
    }
    &__presentation {
        // background-image: url('/public/images/mains.jpeg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        max-width: 1300px;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 1.2em;
        border-radius: 10px;
        width: 100%;
        padding: 10px 20px 25px;
        background-color: white;
        box-shadow: 0 15px 35px #32323254, 0 5px 15px #00000077;
        &__text {
            padding: 0 20px;
            text-align: center;
        }
        &__link {
            display: block;
            color: blue;
            text-align: center;
        }
    }
    &__subtitle {
        width: 100%;
        text-align: center;
        font-family: "Quicksand";
        font-size: 2.5em;
        letter-spacing: .1em;
        // color: rgb(69, 45, 134);
        // border: 3px solid rgb(69, 45, 134);
        background-color: white;
        // background-color: rgb(255, 153, 0);
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        text-shadow: 1px 0px 0px;
    }
    &__categories {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: center;
    }
    &__category {
        width: 290px;
        min-height: 300px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        // border-bottom: 5px solid #f37646;
        // border-top: 5px solid #f37646;
        background-color: white;
        // border-left: 2px solid purple;
        // border-right: 2px solid purple;
        // border-radius: 8px;
        margin: 0 3px;
        &__title {
            display: block;
            text-align: center;
            padding: 10px;
            letter-spacing: 0;
            text-transform: uppercase;
            border-bottom: 2px solid rgb(255, 153, 0);
        }
        &__list {
            list-style-type: none;
            padding: 0;
            &__name {
                display: block;
                text-align: center;
                padding: 5px;
                transition: all .5s ease-out;
                &:hover {
                    background-color: rgb(255, 153, 0);
                    color: white;
                }
                &__link {
                    transition: all .5s ease-out;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    &__button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        transition: all .6s ease-out;
        font-size: 1.2em;
        background-color: rgb(69, 45, 134);
        color: white;
        &:hover {
            background-color: rgb(255, 153, 0);
            padding: 10px 20px;
            // color: rgb(204, 12, 204);
        }
        &__link {
            transition: all .5s ease-out;
            &:hover {
                color: white;
            }
        }
        &__link {
            text-decoration: none;
        }
    }
    &__users {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    &__members {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    &__member , &__announce{
        width: 300px;
        height: 350px;
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(69, 45, 134);
        border-radius: 10px;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b6;
        background-color: white;
        &__text {
            font-size: 1.3em;
        }
        &__quantity {
            font-size: 3em;
            padding: 20px;
            font-weight: bold;
            color: rgb(69, 45, 134);
        }
    }
    &__announces {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__announce {
        background-image: url('/public/images/annonce.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        & p {
            margin: 0;
        }
    }
    &__member {
        background-image: url('/public/images/annonce2.jpeg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        & p {
            margin: 0;
        }
    }
    &__infos {
        max-width: 1300px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    &__info {
        background-color: white;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #000000b6;
        max-width: 300px;
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid rgb(69, 45, 134);
        border-radius: 5px;
        font-size: 1em;
        &__title {
            font-size: 1.6em;
        }
        &__content {
            padding: 10px 15px;
        }
    }
}

/* ---- PAGE MES ANNONCES ---- */
.myAnnouncement {
    display: flex;
    flex-wrap: wrap;
    &__title {
        text-align: center;
        width: 100%;
    }
    &__article {
        width: 250px;
        padding: 10px;
        // border: 1px solid salmon;
        background-color: white;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        border-radius: 5px;
        margin: 10px;
        &__category {
            display: inline-block;
            background-color: rgb(184, 12, 104);
            color: white;
            padding: 4px;
            border-radius: 10px;
        }
    }
}


/* ---- MESSAGES FLASH ---- */
.alert-error, .alert-success, .alert-message, .alert-warning {
    position: relative;
    top: 90px;
    background-color: red;
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.alert-error {
    background-color: red;
}

.alert-success {
    background-color: green;
}

.alert-message {
    background-color: grey;
}

.alert-warning {
    background-color: orange;
}
