{% extends 'base.html.twig' %}

{% block title %}Modification d'un catégorie !{% endblock %}

{% block body %}
<main class="announcementAdd">
    <h1 class="announcementAdd__title">Modifier une catégorie</h1>
    <div class="profileAdd__form">        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" class="profileAdd__form__button">
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}
